@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

html, body {
    margin: 0;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: white;
}

html,
body,
#root {
    height: 100%;
}
